################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ARJAPIADo/.vs
/ARJAPIADo/obj
/ARJAPIADo/bin
